@font-face {
    font-family: 'Roboto Thin';
    src: url("../fonts/Roboto/Roboto-Thin.ttf") format('truetype');
}

@font-face {
    font-family: 'Roboto Regular';
    src: url("../fonts/Roboto/Roboto-Regular.ttf") format('truetype');
}

@font-face {
    font-family: 'Cormorant Garamond Light';
    src: url("../fonts/Cormorant-Garamond/CormorantGaramond-Light.ttf") format('truetype');
}

@font-face {
    font-family: 'Cormorant Garamond Semibold';
    src: url("../fonts/Cormorant-Garamond/CormorantGaramond-SemiBold.ttf") format('truetype');
}

@font-face {
    font-family: 'Roboto Bold';
    src: url("../fonts/Roboto/Roboto-Bold.ttf");
}

* {
    cursor: none;
}

html {
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

body {
    font-family: 'Roboto Thin', sans-serif;
    width: 100%;
    margin: 0;
    height: 100%;
    box-sizing: border-box;
    transition: var(--transition);
    font-size: 14px;
    line-height: 20px;
    overflow-x: hidden !important;
    flex-grow: 1;
    background-color: #f9f4f4;
}

h1,
h2,
h3,
h4 {
    margin-bottom: 10px;
}

h2 {
    font-weight: 800 !important;
}

#header-font {
    font-size: 45px;
    text-align: left;
    margin-bottom: 35px;
    font-family: 'Cormorant Garamond Semibold', sans-serif;
}

.page-wrapper {
    padding-left: 10px;
    padding-right: 10px;
    width: 100%;
    position: relative;
    scroll-behavior: smooth;
    display: block;
}

.video-container {
    margin: 7.5em 450px;
}

.gif-animation {
    height: 500px;
    width: 1000px;
    background-color: #9D988C;
}

.bottom-text-header {
    position: absolute;
    bottom: 0;
    display: flex;
    overflow: auto;
    flex-direction: column;
}

.bottom-text-header>span {
    text-align: center;
    letter-spacing: 1.5px;
    width: 1050px;
    font-weight: 800;
}


/* For Chrome, Safari, and Opera */

::-webkit-scrollbar {
    width: 1px;
    /* Adjust the width as desired */
}

::-webkit-scrollbar-thumb {
    background-color: #888;
    /* Change the color as desired */
}

a {
    font-size: 18px;
    line-height: 1.667em;
    text-decoration: none;
    transition: all 0.3s;
    color: #000;
}

a:hover {
    color: #9D988C;
}

ul {
    margin-top: 0;
}

ol {
    margin-top: 10px;
    margin-bottom: 10px;
    padding-left: 40px;
    list-style-type: none;
}

li {
    list-style-type: none;
}

img {
    max-width: 100%;
    display: inline-block;
}

.garamond-font {
    font-family: 'Cormorant Garamond Light', sans-serif !important;
    font-weight: 100;
    font-size: 1.3em;
}


/* .w-nav:before,
    .w-nav:after {
        content: " ";
        grid-area: 1/1/2/2;
        display: table;
    }*/

.w-container {
    margin-left: auto;
    margin-right: auto;
}

.scroll-lock {
    overflow: hidden;
}

.w-container:before,
.w-container:after {
    content: " ";
    grid-area: 1/1/2/2;
    display: table;
}

.w-container:after {
    clear: both;
}

.w-nav-menu {
    /*float: right;
    position: relative;*/
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    padding: 20px;
    z-index: 999;
}

.w-nav-menu-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 60%;
    margin-right: 0;
    text-transform: uppercase;
}

.w--nav-link-open {
    display: block;
    position: relative;
}

.nav-fixed-size {
    position: fixed;
    overflow-y: auto;
}

.w-nav-overlay [data-nav-menu-open] {
    top: 0;
}

.w-nav-button {
    float: right;
    -webkit-tap-highlight-color: transparent;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    padding: 18px;
    font-size: 24px;
    display: none;
    position: relative;
}

.w-nav-button:focus {
    outline: 0;
}

.w-nav-button.w--open {
    color: #fff;
    background-color: #f9f4f4;
}

.w--open .w-nav-menu {
    display: block;
}

.w-nav[data-collapse="all"] .w-nav-menu {
    display: none;
}

.w-nav[data-collapse="all"] .w-nav-button,
.w--nav-dropdown-open,
.w--nav-dropdown-toggle-open {
    display: block;
}

.container-default {
    color: #dcddeb;
    padding-left: 35px;
    padding-right: 35px;
}

.header-wrapper {
    background-color: transparent;
    position: fixed;
    top: 0%;
    bottom: auto;
    left: 0%;
    right: 0%;
    z-index: 3;
    display: block;
    max-width: 100%;
}

.header-wrapper.with-effect {
    background: rgba(0, 0, 0, 0.089);
    backdrop-filter: saturate(180%) blur(10px);
}

.header-content-wrapper {
    grid-column-gap: 30px;
    justify-content: space-between;
    align-items: center;
    display: flex;
    padding-top: 10px;
    padding-bottom: 10px;
}

.header-logo {
    max-width: 250px;
}

.header-logo-link {
    transform-style: preserve-3d;
    transition: transform 0.3s, color 0.3s;
}

.row-container {
    display: flex;
    align-items: center;
    margin: 11em 9em;
    gap: 150px;
}

.row-container>div {
    margin-right: 35px;
}

.description {
    font-size: 15px;
    font-weight: 800;
    line-height: 28px;
}

.text {
    text-align: center;
    padding: 50px 290px;
    font-size: 30px;
    line-height: 70px;
}

#brand-name {
    text-decoration: underline;
    font-family: 'Roboto Thin', sans-serif;
    font-weight: 900;
    letter-spacing: 1.5px;
    font-size: 50px !important;
    line-height: 70px;
}


/*.header-logo-link:hover {
    transform: scale3d(0.96, 0.96, 1.01);
}*/

.header-right-col {
    justify-content: flex-end;
    align-items: center;
    margin-left: 35px;
    display: flex;
}

.hamburger-menu-bar-bottom,
.hamburger-menu-bar-top {
    width: 5px;
    height: 5px;
    background-color: #000;
    border-radius: 20px;
    margin-top: 4px;
    margin-bottom: 0px;
}

.hamburger-menu-wrapper {
    padding: 0;
    transition: transform 0.3s;
    display: none;
}

.hamburger-menu-wrapper:hover {
    transform: scale(1.16);
}

.header-hamburger-desktop-wrapper {
    z-index: 1;
    height: 100vh;
    background-color: #050a11;
    align-items: center;
    padding: 44px 24px;
    display: flex;
    position: absolute;
    overflow: hidden !important;
}

.menu {
    margin-top: 10%;
}

.brands-section-header {
    margin-top: 0;
}

.brands-section {
    border-top: 2px solid;
    border-image: radial-gradient(circle, rgba(0, 0, 0, 1) 56%, rgba(210, 195, 195, 1) 87%, rgba(249, 244, 244, 1) 100%) 1;
    margin: 10em 13em;
    padding: 150px 0;
    display: flex;
    gap: 100px;
}

.brands-container {
    flex-direction: row;
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    width: 100%;
}

#brand {
    width: 200px;
    height: 100px;
    background-color: #ffffff;
}

.icons {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 10px;
}

.icons>div {
    border-radius: 4.6655px;
    background-color: transparent !important;
    margin-left: 10px;
}

#instagram-icon {
    background-image: url("../icons/instagram-svg.svg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 18px;
    height: 18px;
    transition: transform 5s;
    transition: all 0.5s ease;
}

#facebook-icon:hover,
#instagram-icon:hover,
#behance-icon:hover {
    transform: scale(1.3);
}

#behance-icon {
    background-image: url("../icons/behance.svg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 18px;
    height: 18px;
    transition: transform 5s;
    transition: all 0.5s ease;
}

#facebook-icon {
    background-image: url("../icons/facebook-svg-large.svg");
    background-repeat: no-repeat;
    background-size: 100% 115%;
    width: 18px;
    height: 18px;
    transition: transform 5s;
    transition: all 0.5s ease;
}

.nav-list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 30px;
    margin-right: 0;
    gap: 65px;
    list-style-type: none;
    overflow: hidden;
    text-transform: uppercase;
}

.nav-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-right: 0;
    gap: 5px;
    list-style-type: none;
    overflow: hidden;
}

.nav-info-header {
    text-align: unset;
    line-height: 30px;
    font-family: 'Cormorant Garamond Light';
    font-weight: 100 !important;
    font-size: 60px;
    margin-bottom: 30px;
}

::-webkit-scrollbar {
    display: none;
}

.link-email,
.link-address,
.link-telephone {
    text-decoration: none;
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 20px;
}

.nav-link {
    font-weight: 700;
    margin-bottom: 25px;
    padding-bottom: 10px;
    line-height: 45px;
    text-decoration: none;
    /* Gradient text */
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    background-image: linear-gradient(90deg, #ffffff 0%, rgba(255, 255, 255, 0.801) 35%, rgba(185, 181, 181, 0.247) 60%, rgba(20, 18, 18, 0.685) 75%, rgb(0, 0, 0) 100%);
    font-size: 105px;
    text-align: center;
    background-repeat: no-repeat;
    transition: 0.5s ease-in-out;
    background-position: 100%;
}

.nav-link:hover {
    background-position: 20%;
    padding-left: 2px;
}

.w--current {
    color: #ffffff !important;
    background-position: 20% !important;
}


/*
.nav-link.w--current {
    color: rgb(43, 72, 110);
}*/

.nav-item {
    line-height: 1.66667;
    font-size: 18px;
    text-decoration: none;
    transition: all 0.3s;
    font-weight: 200;
}

.white {
    color: #fff;
}

.header-section {
    z-index: 0;
    height: 100vh;
    justify-content: center;
    align-items: center;
    display: flex;
    position: relative;
    overflow: hidden;
    background-color: #f9f4f4;
    overflow-x: hidden;
    width: 100%;
}

.header-section-content {
    z-index: 0;
    text-align: center;
    position: relative;
    line-height: 53px;
    font-size: 5.8em;
    width: 100%;
}

.mb-bottom---10px {
    margin-bottom: 10px;
    display: block;
    margin-top: 105px;
}

.mr-55 {
    margin-right: 55px !important;
}

.container-default-center {
    display: flex;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;
    padding-left: 24px;
    padding-right: 24px;
    overflow: auto;
}

.cursor-play {
    position: absolute;
    transform: translate(-50%, -80%);
    pointer-events: none;
    opacity: 0;
    z-index: 999;
    display: grid;
    place-items: center;
    transition: opacity 150ms ease-in-out;
    background-color: #9D988C;
}

footer {
    display: flex;
    gap: 120px;
    border-top: 2px solid;
    margin-left: 220px;
    margin-right: 220px;
    align-items: center;
    margin-bottom: 50px;
    border-image: radial-gradient(circle, rgba(0, 0, 0, 1) 56%, rgba(210, 195, 195, 1) 87%, rgba(249, 244, 244, 1) 100%) 1;
}

.text-header {
    padding: 10px;
}

.text-header>h2 {
    font-family: 'Cormorant Garamond Semibold';
    font-size: 80px !important;
    font-weight: 600 !important;
    margin-bottom: 50px;
}

.instagram-container {
    display: flex;
    gap: 70px;
    margin: 150px 200px;
    align-items: center;
}

.instagram-text-contianer>h2 {
    font-family: 'Cormorant Garamond Semibold';
}

.instagram-text-contianer {
    width: 500px;
}

.instagram-text-contianer>span {
    font-size: 16px;
    font-weight: 900;
    display: flex;
    flex-direction: column;
}

.instagram-images {
    display: flex;
    gap: 30px;
}

.instagram-img {
    width: 320px;
    height: 320px;
    background-color: #888;
    transition: transform 5s;
    transition: all 0.5s ease;
    margin-top: 50px;
}

.instagram-img:hover {
    opacity: 0.8;
}

.img1 {
    background-image: url("../img/inst_1.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.img2 {
    background-image: url("../img/inst_2.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.img3 {
    background-image: url("../img/inst_3.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.footer-links {
    padding-top: 70px;
}

.footer-fnt>a {
    font-size: 25px !important;
}

.language-icon {
    margin-top: 60px;
    margin-bottom: 15px;
    display: flex;
    transition: transform 5s;
    transition: all 0.5s ease;
}

.svg-icon:hover {
    transform: scale(1.2);
}

#language-icon-circle {
    width: 45px;
    height: 45px;
    background-color: #000;
    border-radius: 100%;
    margin-left: 70px;
}

.svg-icon {
    background-image: url("../icons/global.svg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 35px;
    height: 35px;
    margin-top: 5px;
    margin-left: 5px;
    transition: transform 5s;
    transition: all 0.5s ease;
}

.licence-container {
    padding-top: 87px;
    font-weight: 700;
    font-family: 'Roboto Regular';
    text-transform: uppercase;
    font-size: 18px;
    align-items: center;
}


/*cursor*/

.custom-cursor {
    position: fixed;
    opacity: 0;
    top: 0;
    left: 0;
    pointer-events: none;
    mix-blend-mode: difference;
    width: 50px;
    margin-left: -25px;
    margin-top: -25px;
    aspect-ratio: 1;
    border-radius: 50%;
    background-color: white;
    transition-property: transform, scale, opacity;
    transition-duration: 250ms;
    transition-timing-function: ease-in-out;
    scale: 0.3;
    z-index: 10;
}

.custom-cursor--link {
    scale: 1;
}

.custom-cursor--init {
    opacity: 1;
}

@media screen and (max-width: 991px) {
    .header-wrapper {
        top: 0;
        left: 0;
    }
    .w-container {
        margin-left: 0;
        margin-right: 0;
    }
    .header-section-content {
        font-size: 4em;
        line-height: 103px;
    }
    .mb-bottom---10px {
        margin-top: 0;
    }
    .bottom-text-header>span {
        text-align: center;
        font-size: 12px;
        letter-spacing: 1.5px;
        width: 735px;
    }
    .nav-link {
        font-size: 45px;
    }
    .page-wrapper {
        margin-left: 0px;
        margin-right: 0px;
    }
    .video-container {
        margin: 7.5em;
    }
    .gif-animation {
        width: 735px;
        height: 345px;
    }
    .row-container {
        flex-direction: column;
        align-items: center;
        margin: 7.5em 150px;
        text-align: center;
        gap: 100px;
    }
    #header-font {
        text-align: center;
    }
    .description {
        font-size: 18.7px;
    }
    .text {
        padding: 80px 60px;
        padding: 100px 140px 100px;
        font-size: 20px;
        line-height: 50px;
    }
    .instagram-text-contianer {
        width: 600px;
        text-align: center;
    }
    .instagram-text-contianer>h2 {
        margin-bottom: 120px;
    }
    .instagram-text-contianer>span {
        width: 500px;
        font-size: 18.7px;
        padding: 0 60px;
    }
    .instagram-container {
        flex-direction: column;
    }
    .instagram-images {
        flex-direction: column;
    }
    .instagram-img {
        width: 500px;
        height: 500px;
    }
    footer {
        flex-direction: column;
        gap: 10px;
        margin: 0;
    }
    .footer-links {
        padding-top: 10px;
    }
    .footer-fnt>a {
        font-size: 18.7px !important;
    }
    .licence-container {
        padding-top: 60px;
        padding-right: 100px;
    }
    .licence-container-list>li {
        text-align: center;
    }
    .licence-container-list>li>a {
        font-size: 18.7px;
        line-height: 1.667em;
        padding-bottom: 10px;
    }
    .icon-box {
        margin-right: 65px;
    }
    .language-icon {
        margin-top: 40px;
    }
    .icons {
        margin-right: 30px;
    }
    .wh-45 {
        width: 35px !important;
        height: 35px !important;
        margin-top: 30px;
        margin-bottom: 30px;
    }
}

@media screen and (max-width: 767px) {}

@media screen and (max-width: 479px) {}

@media screen and (max-width: 991px) {
    .w-nav[data-collapse="medium"] .w-nav-menu {
        display: none;
    }
    .w-nav[data-collapse="medium"] .w-nav-button {
        display: block;
    }
}

@media screen and (max-width: 767px) {
    .w-nav[data-collapse="small"] .w-nav-menu {
        display: none;
    }
    .w-nav[data-collapse="small"] .w-nav-button {
        display: block;
    }
    .w-nav-brand {
        padding-left: 10px;
    }
}

@media screen and (max-width: 479px) {
    .w-nav[data-collapse="tiny"] .w-nav-menu {
        display: none;
    }
    .w-nav[data-collapse="tiny"] .w-nav-button {
        display: block;
    }
}