    /* Import Google font - Poppins */
    
    @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
    .wrapper {
        scroll-snap-type: x mandatory;
        -ms-overflow-style: none;
        scrollbar-width: none;
        width: 100%;
        flex-direction: row;
        gap: 10px;
        padding: 0;
        position: relative;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        display: inline-block !important;
        cursor: none;
    }
    
    .wrapper i {
        top: 50%;
        height: 44px;
        width: 44px;
        color: #343F4F;
        cursor: none;
        font-size: 1.15rem;
        position: absolute;
        line-height: 44px;
        background: #f9f4f4;
        border-radius: 50%;
        transform: translateY(-50%);
        transition: transform 0.1s linear;
    }
    
    i>img {
        display: block;
        margin: 0 auto;
        width: 100%;
    }
    
    .wrapper i:active {
        transform: translateY(-50%) scale(0.9);
    }
    
    .wrapper i:hover {
        background: #fff;
    }
    
    .wrapper i:first-child {
        left: 22px;
        display: none;
    }
    
    .wrapper i:last-child {
        right: 22px;
    }
    
    .wrapper .carousel {
        font-size: 0px;
        cursor: none;
        overflow: hidden;
        white-space: nowrap;
        scroll-behavior: smooth;
        display: inline-block;
    }
    
    .carousel.dragging {
        cursor: none;
        scroll-behavior: auto;
    }
    
    .carousel.dragging {
        pointer-events: none;
    }
    
    .grid-image {
        object-fit: cover;
        user-select: none;
        margin-left: 14px !important;
        width: calc(30%) !important;
    }
    
    .carousel img:first-child {
        margin-left: 0px;
    }
    
    @media screen and (max-width: 900px) {
        .carousel img {
            width: calc(100% / 2);
        }
        .wrapper {
            margin-top: 1.5em;
        }
        .text {
            margin-top: 3.5em;
        }
    }
    
    @media screen and (max-width: 550px) {
        .carousel span {
            width: 100%;
        }
        #play-button-icon {
            width: 35px;
            height: 35px;
        }
        .grid-image {
            object-fit: cover;
            user-select: none;
            margin-left: 14px !important;
            width: calc(50%) !important;
        }
    }
    
    .hv-auto {
        height: auto !important;
    }
    
    .icons {
        position: relative;
    }
    
    .icons:hover .dropdown-content {
        display: block;
    }