 @font-face {
     font-family: 'GeneralSans-Light';
     src: url('../fonts/GeneralSans/GeneralSans-Light.woff2') format('woff2'), url('./fonts/GeneralSans/GeneralSans-Light.woff') format('woff'), url('./fonts/GeneralSans/GeneralSans-Light.ttf') format('truetype');
     font-weight: 300;
     font-display: swap;
     font-style: normal;
 }
 
 @font-face {
     font-family: 'General-Sans Light';
     src: url("../fonts/GeneralSans_Complete/Fonts/WEB/fonts/GeneralSans-Light.ttf") format('truetype');
 }
 
 @font-face {
     font-family: 'General-Sans ExtraLight';
     src: url("../fonts/GeneralSans_Complete/Fonts/WEB/fonts/GeneralSans-Extralight.ttf") format('truetype');
 }
 
 .header-wrapper {
     background-color: #f9f4f413;
     position: fixed;
     top: 0%;
     bottom: auto;
     left: 0%;
     right: 0%;
     z-index: 99;
     display: block;
     max-width: 100%;
 }
 
 .fnt-small {
     font-size: 60px;
     line-height: 50px;
 }
 
 .story-box {
     gap: 25em !important;
 }
 
 #pr_logo {
     width: 65%;
 }
 
 .project-video-container>img {
     border-radius: 14px;
 }
 
 .project-video-container>iframe {
     border-radius: 14px;
     width: 1440px !important;
 }
 
 @media screen and (min-width: 479px) and (max-width: 991px) {
     .col-2.story-box {
         gap: 4rem !important;
         padding: 240px 144px !important;
         margin: 0px;
     }
 }
 
 @media screen and (max-width: 479px) {
     #pr_logo {
         width: 100%;
         padding-right: 100px;
     }
     .col-2.box-img-label {
         margin: 40px !important;
     }
     .h3-figc {
         padding-top: 10px;
         font-size: 14px !important;
     }
     .h2-figc {
         padding-top: 5px !important;
         font-size: 24px !important;
         font-weight: 900 !important;
         font-family: 'Cormorant Garamond Semibold';
     }
     .figc-year {
         padding-top: 10px;
         font-size: 14px !important;
     }
     .story-text-paragraph {
         text-align: left !important;
         font-size: 26px !important;
         font-family: 'Cormorant Garamond Semibold';
         line-height: 1.5;
         font-weight: 600;
         width: 100%;
     }
     .container-paragraph.hv-105 {
         margin: 0 !important;
     }
     .story-container {
         margin: 92px 0 !important;
     }
     .col-2.story-box {
         padding-top: 80px !important;
     }
     .image-container-2 {
         display: flex;
         margin: -6px !important;
         height: auto;
         width: auto;
         position: relative;
     }
     .project-header>h1 {
         font-family: 'Roboto Thin';
         text-transform: uppercase;
         text-align: right;
         font-size: 50px !important;
         color: #fff;
         font-weight: 100;
         margin-top: 49%;
         margin-left: 0;
         margin-right: 0;
     }
     .color-container {
         display: block;
         border-radius: 4px;
         margin: 0 100px;
         box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
         height: 140px !important;
     }
     .col-2.img-col-right {
         /* margin: 80px 0px 80px 0px !important;*/
     }
     .col-2.box-text-colors {
         margin-top: 0px !important;
         margin-bottom: 0px !important;
     }
     .col-2.box-text-colors>.text-bold {
         width: auto;
         padding: 0 1em 0 1em !important;
         font-size: 18px !important;
     }
     .color-label {
         width: 72px !important;
         height: 72px !important;
         margin-bottom: 10px;
     }
     #listed-core-items {
         display: flex;
         align-items: flex-start;
         margin: 0 !important;
         padding: 0 2em !important;
         flex-direction: column !important;
         gap: 0em !important;
         width: fit-content;
         padding: 0 2em;
     }
     .contact-container {
         display: flex;
         flex-direction: column !important;
         margin: 50px 3em !important;
         align-items: center;
         padding: 0 !important;
         background-color: #fff;
     }
     .inst-col-3 {
         display: flex;
         flex-direction: column !important;
         align-items: center;
         justify-content: space-between;
         background-color: #000;
         padding: 100px 0;
         width: 100%;
         gap: 2em;
     }
     .col-3 {
         display: flex;
         align-items: flex-start;
         padding: 4em 2em !important;
         flex-direction: column !important;
         gap: 6em !important;
         width: fit-content;
         padding: 0 2em;
     }
     .sub-col-3 {
         display: flex;
         flex-direction: column !important;
     }
     .pr-scope,
     .pr-location {
         display: block;
         width: 50%;
         padding-top: 3em !important;
         font-size: 14px;
     }
     .col-2 {
         display: flex;
         align-items: flex-start;
         margin: 0 0 !important;
         padding-right: 2em !important;
         padding-left: 2em !important;
         flex-direction: column !important;
         gap: 5em !important;
     }
     .story-header>h2 {
         font-size: 40px !important;
         line-height: normal;
         font-family: 'Cormorant Garamond Semibold';
         font-weight: 400;
     }
     .story-text-header>h3 {
         font-size: 60px !important;
         line-height: normal;
         font-family: 'Cormorant Garamond Semibold';
         margin-bottom: 50px;
     }
     .link-list {
         display: flex;
         flex-direction: column !important;
     }
     .link-item {
         text-align: left;
         padding: 0;
         width: 100%;
         font-weight: 600;
         text-transform: uppercase;
     }
     .contact-container-header {
         padding: 60px 0 !important;
         margin: 0 14px;
         font-size: 24px !important;
         line-height: normal;
         font-family: 'Cormorant Garamond Semibold';
     }
     .contact-container-link {
         padding: 30px 0 !important;
         display: inline-block;
     }
     .card {
         position: relative;
         width: 270px !important;
         min-height: 400px;
         background: rgb(255, 255, 255);
         box-shadow: 15px 15px 60px rgba(0, 0, 0, 0.01);
         padding: 10px 5px;
         margin: 0 20px !important;
         border-radius: 10px;
     }
     .contact-container-link>a {
         font-family: 'GeneralSans-Light';
         font-size: 34px !important;
         margin: 0;
         display: inline;
         position: relative;
         text-decoration: none;
     }
 }
 
 @media screen and (max-width: 1400px) {
     .project-header>h1 {
         font-family: 'Roboto Thin';
         text-transform: uppercase;
         text-align: right;
         font-size: 150px;
         color: #fff;
         font-weight: 100;
         margin-top: 60% !important;
         margin-left: 0;
         margin-right: 0;
     }
     .card {
         position: relative;
         width: 326px;
         min-height: 400px;
         background: rgb(255, 255, 255);
         box-shadow: 15px 15px 60px rgba(0, 0, 0, 0.01);
         padding: 10px 5px;
         margin: 35px !important;
         border-radius: 10px;
     }
     .color-container {
         display: block;
         border-radius: 4px;
         margin: 0 16px !important;
         box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
         height: 240px;
     }
     .number {
         line-height: 1.2;
         font-family: 'Roboto Thin';
         font-size: 100px !important;
     }
     #listed-core-items {
         display: flex;
         align-items: flex-start;
         margin: 144px 2em;
         flex-direction: row;
         gap: 2em !important;
         position: relative;
     }
     .number-item-text {
         line-height: 1.2;
         font-weight: 900;
         font-family: 'Cormorant Garamond Semibold';
         font-size: 16px !important;
     }
     .contact-container {
         display: flex;
         flex-direction: row;
         margin: 0px 2em;
     }
     .link-list {
         display: flex;
         flex-direction: column !important;
     }
     .contact-container-header {
         padding: 100px 0;
         font-size: 36px;
         line-height: normal;
         font-family: 'Cormorant Garamond Semibold';
     }
     .story-header>h2 {
         font-size: 36px !important;
         line-height: normal;
         font-family: 'Cormorant Garamond Semibold';
         font-weight: 400;
     }
     #project-info {
         display: flex;
         align-items: flex-start;
         /*margin: 144px 2em !important;*/
         flex-direction: row;
         gap: 5em !important;
         position: relative;
     }
 }
 
 @media screen and (max-width: 991px) {
     .link-list {
         gap: 20px !important;
     }
     .title--1 {
         font-size: 15rem !important;
         font-family: 'Roboto Thin';
         text-transform: uppercase;
     }
     .inst-col-3 {
         display: flex;
         flex-direction: column !important;
         align-items: center;
         justify-content: space-between;
         background-color: #000;
         padding: 100px 192px 0px 192px;
         width: 100%;
         gap: 5em;
     }
     .story-box {
         gap: 5em !important;
     }
     .container-paragraph {
         display: flex;
         margin: 0 !important;
         flex-direction: column !important;
         justify-content: baseline !important;
     }
     .box-img-label {
         display: flex;
         flex-direction: column;
         max-width: 100% !important;
         gap: 5px;
     }
     .col-2.box-img-label {
         margin: 40px 80px;
     }
     .story-text-paragraph {
         text-align: left !important;
         font-size: 40px;
         font-family: 'Cormorant Garamond Semibold';
         line-height: 1.5;
         font-weight: 600;
         width: 100% !important;
     }
     .image-item {
         margin-right: 0px !important;
         margin-bottom: -10px !important;
     }
     .text-bold {
         width: auto;
         padding: 0 1em 0 1em !important;
         font-size: 28px !important;
     }
     .image-container-2 {
         display: flex;
         margin: 0px !important;
         height: auto;
         width: auto;
         position: relative;
         flex-direction: column !important;
     }
     .text-img {
         flex-direction: column !important;
     }
     .img-col-right {
         margin: 192px 80px 0px 80px;
     }
     .box-text-colors {
         margin-top: 80px !important;
         max-width: 100% !important;
         gap: 80px !important;
     }
     h1 {
         line-height: 1 !important;
         font-size: 100px !important;
     }
     .project-header {
         position: absolute;
         top: 0;
         left: 0;
         width: 100%;
         height: 100%;
         display: flex;
         align-items: center;
         justify-content: center !important;
     }
     .project-header>h1 {
         font-family: 'Roboto Thin';
         text-transform: uppercase;
         text-align: right;
         font-size: 250px;
         color: #fff;
         font-weight: 100;
         margin-top: 60% !important;
         margin-left: 0;
         margin-right: 0 !important;
     }
     #image-bg-1 {
         display: block;
         width: 100vw;
         height: auto !important;
         text-align: center;
         user-select: none;
     }
     #image-large-1 {
         display: block;
         width: 100vw;
         height: auto !important;
         text-align: center;
         user-select: none;
         margin: -10px 0 !important;
     }
     .col-3 {
         display: flex;
         align-items: flex-start;
         padding: 144px 144px 100px 144px;
         flex-direction: column !important;
         gap: 10em;
         width: fit-content;
         padding: 0 2em;
     }
     .pr-description {
         width: fit-content !important;
     }
     .pr-text {
         width: 90%;
         font-size: 14px !important;
         line-height: 1.4;
     }
     #pr-desc-header {
         font-family: 'Cormorant Garamond Semibold', sans-serif;
         font-size: 45px !important;
         font-weight: 600 !important;
         line-height: 1;
     }
     .col-2 {
         display: flex;
         align-items: flex-start;
         padding: 62px 2em !important;
         flex-direction: column !important;
         gap: 15em;
     }
     .story-text {
         font-size: 16px !important;
         font-family: 'Roboto Thin';
         line-height: 1;
         font-weight: 900;
     }
     .contact-container {
         display: flex;
         flex-direction: column !important;
         margin: 0 192px;
         align-items: center;
         padding: 0 !important;
     }
     .contact-container-col {
         display: block;
         width: 100% !important;
     }
     .contact-container-header {
         padding: 90px 144px;
         font-size: 34px;
         line-height: normal;
         font-family: 'Cormorant Garamond Semibold';
     }
     .link-item {
         text-align: center;
         padding: 0;
         width: 100% !important;
         font-weight: 600;
         text-transform: uppercase;
         margin: 0;
         padding: 5px 0 !important;
     }
     #contact-cont {
         width: 100%;
         padding: 0 144px !important;
         display: none;
     }
     .inst-col-3 {
         padding: 77px 0 !important;
     }
     .card {
         position: relative;
         width: 280px;
         min-height: 400px;
         background: rgb(255, 255, 255);
         box-shadow: 15px 15px 60px rgba(0, 0, 0, 0.01);
         padding: 10px 5px;
         margin: 0 20px !important;
         border-radius: 10px;
     }
     .color-pallete-col {
         display: flex;
         flex-direction: row !important;
         align-items: center;
         justify-content: center;
         margin: 144px 100px;
         margin-right: 0px;
         margin-bottom: 144px;
         margin-left: 0px;
     }
     .color-container {
         display: block;
         border-radius: 4px;
         margin: 0px !important;
         box-shadow: none !important;
         height: 240px;
     }
     #listed-core-items {
         background-color: #f9f4f4;
         color: #000 !important;
         display: flex;
         align-items: flex-start;
         margin: 80px 144px;
         flex-direction: column !important;
         gap: 0em !important;
         width: fit-content;
         padding: 0 2em;
     }
 }
 
 h1 {
     font-size: 120px;
 }
 
 .link-container {
     margin: 20px auto 20px 2em;
     /* Set auto for centering the container horizontally */
     /*width: 60%;*/
     align-items: flex-start;
     text-align: left;
     /* Set a width to limit the container size */
 }
 
 .link-list {
     display: flex;
     flex-direction: row;
     justify-content: center;
     list-style: none;
     padding: 0;
     gap: 100px;
     margin: 0;
     /* Remove default margin to ensure items are centered */
 }
 
 .link-item {
     text-align: left;
     padding: 10px;
     /* Add padding for better spacing */
     font-weight: 600;
     text-transform: uppercase;
     /*margin-right: 10px;*/
     /* Adjust the spacing between items as needed */
 }
 /* Optional: Style the links */
 
 .link-item a {
     text-decoration: none;
     color: #000;
     /* Set your desired text color */
 }
 
 .image-container {
     display: block;
     margin: 0 auto;
     height: auto;
     width: auto;
     position: relative;
 }
 
 .video-container {
     /* Center the video element */
     display: flex;
     justify-content: center;
     align-items: center;
     height: 100%;
     /* You may adjust this based on your layout */
 }
 
 #main-video {
     /* Add any other styles you need for the video element */
     width: 100%;
     /* Make the video element fill its container */
     height: auto;
     /* Maintain the aspect ratio of the video */
 }
 
 .video-header {
     display: none;
 }
 
 .video-header.loaded {
     display: block;
 }
 
 .image-container-2 {
     display: flex;
     margin: 0px !important;
     height: auto;
     width: auto;
     position: relative;
 }
 
 #image-bg-1 {
     display: block;
     width: 100vw;
     height: 100vh;
     text-align: center;
     user-select: none;
 }
 
 #image-large-1 {
     vertical-align: middle;
     display: inline-block;
     width: 100%;
     height: auto;
     text-align: center;
     user-select: none;
     margin: -10px 0 !important;
 }
 
 .project-header {
     position: absolute;
     top: 0;
     left: 0;
     width: 100%;
     height: 100%;
     display: flex;
     align-items: center;
     justify-content: right;
 }
 
 .contact__header {
     position: relative;
     height: 100vh;
     background-color: #000;
 }
 
 .contact__header__cover {
     position: absolute !important;
     left: 0;
     right: 0;
     width: 100%;
     height: 100%;
     z-index: 0;
 }
 
 .contact__header__content {
     position: relative;
     display: flex;
     height: 100%;
     align-items: flex-end;
     justify-content: flex-end;
     flex-direction: column;
     color: #fff;
     z-index: 1;
 }
 
 .contact__header__content .title {
     margin-bottom: 0vh;
 }
 
 .title--1,
 .title--2 {
     line-height: 0.95em;
     font-weight: 400;
     -ms-user-select: none;
     user-select: none;
 }
 
 .title--1 {
     font-size: 20rem;
     font-family: 'Roboto Thin';
     text-transform: uppercase;
 }
 
 .decotitle--1 {
     font-size: 1.6rem;
     line-height: 1.2em;
     font-weight: 700;
 }
 
 .carousel-scale img {
     position: absolute;
     top: 0;
     left: 0;
     width: 100%;
     height: 100%;
     object-fit: cover;
     z-index: 1;
     transition-timing-function: cubic-bezier(.25, .25, .75, .75);
     transition-property: transform, opacity;
     transition-duration: 7s, 1s;
     will-change: transform, opacity;
 }
 
 .project-header>h1 {
     font-family: 'Roboto Thin';
     text-transform: uppercase;
     text-align: right;
     font-size: 250px;
     color: #fff;
     font-weight: 100;
     margin-top: 47%;
     margin-left: 0;
     margin-right: 0;
     /* Remove margin to ensure the h1 doesn't add extra space */
 }
 
 .col-3 {
     display: flex;
     align-items: flex-start;
     padding: 144px 100px 85px 100px;
     flex-direction: row;
     gap: 15em;
     position: relative;
 }
 
 .col-2 {
     display: flex;
     align-items: flex-start;
     padding: 192px 80px;
     margin: 0px;
     flex-direction: row;
     gap: 15em;
 }
 
 .container-paragraph {
     display: flex;
     align-items: flex-start;
     padding: 100px 0;
     justify-content: center;
     flex-direction: row;
 }
 
 .story-text-paragraph {
     text-align: center;
     color: #fff;
     font-size: 60px;
     font-family: 'Cormorant Garamond Semibold';
     line-height: 1.1;
     font-weight: 600;
     width: 50%;
 }
 
 .pr-name {
     display: inline-block;
     width: 50%;
     line-height: normal;
 }
 
 .pr-name>h2 {
     font-size: 50px !important;
     font-weight: 600 !important;
     text-align: left;
     margin: 0;
     padding: 0;
 }
 
 .sub-col-3 {
     display: flex;
     flex-direction: row;
 }
 
 .pr-description {
     width: 100%;
 }
 
 .pr-scope,
 .pr-location {
     display: block;
     width: 50%;
     padding-top: 6em;
     font-size: 14px;
 }
 
 #project-scope-header,
 #pr-location-header {
     text-transform: uppercase;
     margin: 0;
     padding-bottom: 10px;
     font-size: 18px;
 }
 
 #pr-desc-header {
     font-family: 'Cormorant Garamond Semibold', sans-serif;
     font-size: 50px !important;
     font-weight: 600 !important;
     line-height: 0.7;
 }
 
 .pr-scope-list,
 .pr-location-title {
     font-family: 'Roboto Regular';
 }
 
 .pr-text {
     font-family: 'Roboto Regular';
     font-size: 16px;
 }
 
 .story-header>h2 {
     font-size: 50px;
     line-height: normal;
     font-family: 'Cormorant Garamond Semibold';
     font-weight: 400;
 }
 
 .story-text-header {
     margin-bottom: 2em;
 }
 
 .story-text-header>h3 {
     font-size: 45px;
     line-height: normal;
     font-family: 'Cormorant Garamond Semibold';
 }
 
 .story-text {
     font-size: 18px;
     font-family: 'Roboto Thin';
     line-height: 1.5;
     font-weight: 900;
 }
 
 .pr-text-item {
     padding-top: 32px;
 }
 
 .pr-scope-list {
     padding-left: 20px;
 }
 
 .pr-scope-list>li {
     list-style-type: disc;
 }
 
 .contact-container-col {
     display: block;
     width: 50%;
 }
 
 .contact-container {
     padding-top: 0em;
 }
 
 .contact-container-link {
     padding: 0;
     display: inline-block;
 }
 
 .contact-container-link>a {
     font-family: 'GeneralSans-Light';
     font-size: 54px;
     margin: 0;
     display: inline;
     position: relative;
     text-decoration: none;
 }
 
 .contact-container-link>a {
     font-family: 'GeneralSans-Light';
     font-size: 54px;
     margin: 0;
     display: inline;
     position: relative;
     text-decoration: none;
     color: #000;
     transition: color 0.3s;
 }
 
 .contact-container-link>a:hover {
     color: #9D988C;
 }
 
 .contact-container-link>a::after {
     content: "";
     position: absolute;
     left: 0;
     right: 0;
     bottom: 0px;
     height: 2px;
     background-color: #000;
 }
 
 .contact-container-link>a:hover::after {
     transform: scaleX(1);
     background-color: #9D988C;
     /* Show the underline on hover with scaleX(1) */
 }
 
 .inst-col-3 {
     display: flex;
     flex-direction: row;
     align-items: center;
     justify-content: space-between;
     background-color: #000;
     padding: 100px 192px 100px 192px;
     width: 100%;
 }
 /*instagram card css*/
 
 .card {
     position: relative;
     width: 360px;
     min-height: 500px;
     background: rgb(255, 255, 255);
     box-shadow: 15px 15px 60px rgba(0, 0, 0, 0.01);
     padding: 10px 5px;
     margin: 82px 30px;
     border-radius: 10px;
 }
 
 .card .top {
     display: flex;
     justify-content: space-between;
     align-items: center;
 }
 
 .card .top .userDetails {
     display: flex;
     align-items: flex-end;
 }
 
 .card .top .userDetails .profile_img {
     position: relative;
     width: 36px;
     height: 36px;
     border-radius: 50%;
     overflow: hidden;
     margin-right: 8px;
 }
 
 .cover {
     position: absolute;
     top: 0;
     left: 0;
     width: 100%;
     height: 100%;
     object-fit: cover;
 }
 
 .card .top .userDetails h3 {
     font-size: 16px;
     color: #4d4d4d;
     font-weight: 900;
     line-height: 1em;
     font-family: 'GeneralSans-Light';
 }
 
 .card .top .userDetails h3 span {
     font-size: 0.7em;
     padding-top: 20px;
 }
 
 .imgBox {
     position: relative;
     width: 100%;
     height: 390px;
     margin: 10px 0 15px;
 }
 
 .buttons {
     display: flex;
     justify-content: center;
     align-items: center;
     padding-right: 230px;
 }
 
 .buttons img {
     max-width: 24px;
     max-height: 24px;
     padding: 0 24px;
 }
 
 .buttons .left img {
     margin-right: 8px;
     ;
 }
 
 .likes {
     font-weight: 500;
     margin-top: 5px;
     font-size: 16px;
     color: #4d4d4d;
 }
 
 .message {
     font-weight: 500;
     margin-top: 10px;
     font-size: 16px;
     color: #4d4d4d;
     font-family: 'GeneralSans-Light';
     font-weight: 700;
 }
 
 .message b {
     color: #262626;
     font-family: 'Roboto Regular';
     font-weight: 900;
 }
 
 .settings:after {
     content: '\2807';
     font-size: 25px;
     color: #4d4d4d;
 }
 /*color cards*/
 
 .color-container {
     display: block;
     border-radius: 4px;
     margin: 0 10px;
     box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
     height: 140px;
 }
 
 .color-label {
     width: calc(100vw/20);
     height: calc(100vw/20);
     margin-bottom: 10px;
 }
 
 #white-color {
     background-color: #fff;
 }
 
 #black-color {
     background-color: #000;
 }
 
 #red-color {
     background-color: #ff4c19;
 }
 
 #grey-color {
     background-color: #262626;
 }
 
 .color-name {
     display: flex;
     font-weight: 500;
     font-family: 'Roboto Regular';
     justify-content: center;
 }
 /*video*/
 
 .video-section {
     display: flex;
     width: 100%;
     align-items: center;
     justify-content: center;
     padding: 100px 0;
 }
 
 .project-video-container {}
 
 @media screen and (min-width:1400px) and (max-width:1920px) {
     .footer-wrapper {
         height: 40vh;
         width: 100%;
         padding: 0;
         align-items: center;
         display: flex;
         flex-direction: column;
         gap: 2em !important;
         justify-content: space-between;
         padding-right: 5rem;
         padding-left: 5rem;
         /* border-image: radial-gradient(circle, rgba(0, 0, 0, 1) 56%, rgba(210, 195, 195, 1) 87%, rgba(249, 244, 244, 1) 100%) 1; */
     }
 }
 
 .number {
     line-height: 1.2;
     font-family: 'Roboto Thin';
     font-size: 50px;
 }
 
 .number>h1 {
     padding-bottom: 50px !important;
 }
 
 @media screen and (max-width: 1920px) {
     .contact-container {
         display: flex;
         flex-direction: row;
         margin: 0px 144px;
     }
     .number-item-text {
         line-height: normal;
         font-weight: 400;
         font-family: 'General-Sans Light';
         font-size: 14px;
     }
     .contact-container {
         display: flex;
         flex-direction: row;
         max-width: 100%;
         gap: 25rem;
         padding: 4em 0 0em 0;
     }
     .contact-container-header {
         padding: 100px 0;
         font-size: 30px;
         line-height: normal;
         font-family: 'Cormorant Garamond Semibold';
     }
     .contanct-links>.link-email>a,
     .contanct-links>.link-telephone>a {
         font-size: 35px !important;
     }
     .link-item>a {
         font-size: 30px;
     }
     .story-header>h2 {
         font-size: 44px;
         line-height: normal;
         font-family: 'Cormorant Garamond Semibold';
         font-weight: 400;
     }
     .col-2.story-box {
         gap: 4rem !important;
         padding: 240px 80px;
         margin: 0px;
     }
 }
 
 @media screen and (min-width: 1400px) and (max-width: 1919px) {
     .col-3 {
         display: flex;
         align-items: flex-start;
         padding: 144px 100px 144px 100px;
         flex-direction: row;
         gap: 3em;
         position: relative;
     }
     .col-2 {
         gap: 2em;
     }
     .text-bold {
         font-size: 31px !important;
         font-family: 'Cormorant Garamond Semibold';
         line-height: 1;
         font-weight: 600;
     }
     .col-2.story-box {
         gap: 15rem !important;
         padding: 240px 80px;
         margin: 0;
     }
     .contact-container {
         display: flex;
         flex-direction: row;
         max-width: 100%;
         gap: 5rem;
     }
     .link-container {
         margin-top: 14px;
     }
 }
 
 @media screen and (max-width: 1200px)and (min-width: 991px) {
     #listed-core-items {
         display: flex;
         align-items: flex-start;
         flex-direction: column !important;
         margin: 0 !important;
         padding: 144px !important;
         flex-direction: row;
         gap: 2em !important;
         position: relative;
     }
     .numbered-item {
         display: flex;
         flex-direction: column;
         gap: 50px;
         padding-top: 100px;
     }
 }
 
 @media screen and (max-width: 479px) {
     .footer-link-item>a {
         color: #000;
         font-size: 49px !important;
         line-height: normal;
     }
 }
 
 #image-col {
     width: calc(100vw/2);
 }
 
 @media screen and (min-width: 1920px) {
     .contact-container {
         display: flex;
         flex-direction: row;
         margin: 50px;
     }
     .contact-container-header {
         padding: 100px 0;
         font-size: 44px;
         line-height: normal;
         font-family: 'Cormorant Garamond Semibold';
     }
     .contact-container-header {
         padding: 100px 0;
         font-size: 24px;
         line-height: normal;
         font-family: 'Cormorant Garamond Semibold';
     }
 }
 
 .icon:hover {
     pointer-events: none;
 }
 
 .image-col {
     margin: 0;
     padding: 0;
 }
 
 .bg-dark {
     background-color: #222222;
 }
 
 img {
     object-fit: cover;
 }
 
 .img-square {}
 
 .text-img {
     margin: 0 !important;
 }
 
 .text-highlight {
     font-size: 50px;
 }
 
 .text-bold {
     font-size: 36px;
     font-family: 'Cormorant Garamond Semibold';
     line-height: 1.1;
     font-weight: 600;
 }
 
 .image-item {
     margin-right: -10px;
 }
 
 .hv-105 {
     height: 105vh;
     justify-content: center;
     align-items: center;
 }
 
 .box-text-colors {
     display: flex;
     flex-direction: column;
     max-width: 50%;
 }
 
 .color-pallete {
     display: flex;
     flex-direction: row;
     align-items: center;
     justify-content: center;
 }
 
 .box-img-label {
     display: flex;
     flex-direction: column;
     max-width: 50%;
     gap: 5px;
 }
 
 .figc-container {
     display: flex;
     flex-direction: row;
     justify-content: space-between;
 }
 
 .figc-col {}
 
 .h3-figc {
     padding-top: 10px;
     font-size: 26px;
 }
 
 .h2-figc {
     padding-top: 20px;
     font-size: 36px;
     font-weight: 900 !important;
     font-family: 'Cormorant Garamond Semibold';
 }
 
 .figc-year {
     padding-top: 10px;
     font-size: 26px;
 }
 
 .inner-container {}