:is(vimeo-embed) {
    aspect-ratio: 16 / 9;
    border-radius: var(--video-embed-bdrs, 0.25em);
    display: grid;
    inline-size: 60%;
    position: relative;
}

.vimeo-button {
    margin: 40px;
    width: 90px;
    height: 90px;
    background-color: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(8px);
    position: relative;
    border: none;
    /* Remove the default button border */
}

#vimeo-video-icon {
    width: 30px;
    height: 30px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

:is(vimeo-embed) button {
    background-color: var(--button-bgc, #00adef);
    block-size: var(--button-h, 60px);
    border: 0;
    border-radius: var(--button-bdrs, 50%);
    display: grid;
    inline-size: var(--button-w, 25px);
    opacity: var(--button-op, 0.8);
    position: absolute;
    place-self: center;
    transition: all .2s ease-in;
}

 :is(vimeo-embed) button::before {
    display: none;
    /* Hide the default button icon */
}

:is(vimeo-embed):hover button {
    --button-op: 1;
}

#vimeo-video-cover {
    border-radius: 8px;
}

 :is(vimeo-embed) :is(iframe, img) {
    block-size: 100%;
    border: 0;
    inline-size: 100%;
    inset: 0;
    object-fit: cover;
    position: absolute;
}

 :is(vimeo-embed) iframe:not([src=""])+button {
    display: none;
}

 :is(vimeo-embed button) {
    --button-bgc: #00adef;
}

 :is(vimeo-embed):hover button {
    --button-op: 1;
}